<!DOCTYPE html>
<html Lang="pt-bt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <title>Emanuel Lucas - Sensorville</title>
</head>
<body>

  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">

    <section class="profile">
      <img src="../static/img/foto.jpg" alt="Foto do Emanuel">
      <h1>Emanuel Lucas Rodrigues Moura</h1>
        <div class="social-links mt-4 text-center">

          <a target="_blank" href="https://www.linkedin.com/in/emanuel-lucas-rodrigues-moura/">
            <i class="bi bi-linkedin"></i>
          </a>

          <a target="_blank" href="https://github.com/emanuellucas2/">
            <i class="bi bi-github"></i>
          </a>
        </div>
    </section>


    <nav id='navbar' class="nav-menu">

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000/vida-pessoal">Vida Pessoal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#sobre">Vida Acadêmica</a>
        </li>

      </ul>

    </nav>
  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0">
        <div class=".col-md-5 d-flex justify-content-center align-items-center flex-column">
            <h2 class="text-white text-shadow">Emanuel Lucas Rodrigues Moura</h2>
            <span id="subtitle" class="text-white text-shadow">Estudante de Engenharia de Controle e Automação</span>
        </div>
    </section>

    <section class="container mt-5" id='sobre'>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow lead-pic" src="../static/img/cmbh.jpg" alt="Foto da Familia" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Formação</h3>
                    <h4>Ensino Fundamental</h4>
                    <h4>Colégio Militar de Belo Horizonte</h4>
                    <p>Aqui foi quando minha vida começou a mudar, pois tive a oportunidade de ter uma educação gratuita e de qualidade, o que serviu de base para todo conhecimento que construí.</p>
              </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-8" data-anime="left">
                    <h4>Ensino Médio</h4>
                    <h4>Escola Preparatória de Cadetes do Ar</h4>
                    <p>Em 2015, ingressei na EPCAr, escola que prepara seus alunos para irem a Academia de Força Aérea para se tornarem pilotos. Porém percebi durante os três anos de curso que o militarismo não era o que queria e então fui atrás daquilo que me cativava que era as exatas.</p>
              </div>
              <div class="col-md-4">
                    <img class="img-fluid shadow lead-pic" src="../static/img/epcar.jpg" alt="Foto da Familia" data-anime="right">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow lead-pic" src="../static/img/ufsc.jpeg" alt="Foto da Familia" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h4>Ensino Superior</h4>
                    <h4>Engenharia de Controle e Automação - UFSC</h4>
                    <p>Desde 2018 estou neste curso em Blumenau, onde tive a oportunidade de aprender muito e descobri uma área de grande interesse, a programação. Também tive a oportunidade de participar de projetos de pesquisa, o que acrescentou em muito no meu conhecimento em desenvolvimento de softwares para Sistemas Embarcados.</p>
              </div>
            </div>
            
            <div class="row mt-4">
              <h3>Projetos de Pesquisa</h3>
                
                <div class="row mt-4">
                <div class="col-md-8" data-anime="left">
                    <h4>Virtualização de Processadores RISCv</h4>
                    <p>Projeto de porte de um hypervisor para processadores RISCv sendo que inicialmente, o software era suportado apenas para processadores MIPS. O projeto foi dividido em diversas tarefas onde foi modificado o que era necessário e criado novas rotinas e funcionalidades.</p>
                    <a href="https://github.com/hellfire-project/hellfire-hypervisor">Código-Fonte</a>
                </div>
                <div class="col-md-4">
                      <img class="img-fluid shadow lead-pic" src="../static/img/projeto1.png" alt="Foto do Projeto1" data-anime="right">
                  </div>
              </div>


              <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow lead-pic" src="../static/img/projeto2.png" alt="Foto do Projeto2" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h4>RTOS para RISCv</h4>
                    <p>Criação de um RTOS para processadores RISCv com base no hypervisor trabalho no projeto anterior que utiliza de características do hardware para gerar segurança.</p>
              </div>
            </div>



              <div class="row mt-4">
                <div class="col-md-8" data-anime="left">
                    <h4>Linux Embarcado em Tempo Real</h4>
                    <p>Projeto de teste de diferentes possibilidades de adaptar o kernel Linux para trabalhar em Tempo Real, verificando possíveis falhas e motivos de atrasos.</p>
                </div>
                <div class="col-md-4">
                      <img class="img-fluid shadow lead-pic" src="../static/img/projeto3.jpeg" alt="Foto do Projeto3" data-anime="right">
                  </div>
              </div>
            </div>
        </section>
  </main>


  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>
</html>